*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 174, 255);
}

section{
    display: grid;
    grid-template-areas: 
        "l h h"
        "s c a"
        "f f f"
    ;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 25vh 50vh 25vh;
}

div{
    padding: 50px;
    margin: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.logo{
    grid-area: l;
    background-color: #FF88DC;
}

.header{
    grid-area: h;
    background-color: #fa8e00;
}

.sidebar{
    grid-area: s;
    background-color: #476A6F;
}

.conteudo{
    grid-area: c;
    background-color: #FFF515;
}

.anuncio{
    grid-area: a;
    background-color: #5C415D;
}

.footer{
    grid-area: f;
    background-color: #63D471;
}

@media (max-width: 768px){
    section{
        display: grid;
        grid-template-areas: 
            "l l l"
            "h h h"
            "c c c"
            "s s s"
            "a a a"
            "f f f"
        ;

        grid-template-rows: 1fr 3fr repeat(auto-fit, 1fr);
    }
}